<h1>Search Results</h1>
<% @search.each do |postc| %>
    <div class="single-listing">


      <div class="listing-pic">
        <%=image_tag(postc.image_url)%>

        <div class="listing-price">
          $<%= postc.price %>
        </div>
      </div>

      <div class="listing-info">
        <%= link_to postc.post_title, postc %><

      </div>
    </div>
<%end%>
